## C++ #########################################################################

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*/build/*
*.vtk
Progetto/build/Makefile
Progetto/build/CMakeFiles/
Progetto/build/cmake_install.cmake
Progetto/build/CMakeCache.txt
Progetto/build/progetto
.idea/
*.iml
docs/

# Ignora le mesh generate
*.msh
*.vtu

# Ignora la cartella di build ovunque si trovi
build/
